<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 class="navbar-brand">Data Siswa</h1>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/xii_ipa1">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
</nav>