html
    head
        title Tambah Siswa Baru
    body
        form(action="/xii_ipa1" method="post")
            label Nama
                input(type="text" name="nama")
                br
            label Alamat
                input(type="text" name="alamat")
                br
            label Kd_Hobi
                input(type="text" name="kd_hobi")
                br
            input(type="submit" value="Simpan")